.link {
  font-family: Poppins;
}

.link:hover {
  @extend .underline;
  cursor: pointer;
}

.btn {
  display: table;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.4rem;
  @extend .poppins;
}

.btn-center {
  margin: 0 auto;
  @extend .btn;
}

.btn:after {
  display: block;
  content: "";
  border-bottom: solid 3px;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}
.btn:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}
