/**
 *  This file is based on code from https://github.com/slarsendisney/personal-site/tree/master/src/styles
  *  This file is based on code from https://dev.to/lynnewritescode/colour-coding-with-scss-each-loops-31k
 */

$brand-colors: 
  ('white', white, #1c1c1c), 
  ('black', #1c1c1c, white),
  ('light-grey', rgb(207, 207, 207), #121212),
  ('dark-blue', #274690, white),
  ('medium-blue', #3772ff, #3772ff),
  ('red', #f4442e, #f4442e), 
;

@each $color in $brand-colors {
  .is-#{nth($color,1)}-bg {
    background-color: nth($color, 2);
  }
  .is-#{nth($color,1)}-border {
    border-color: nth($color, 2);
  }
  .is-#{nth($color,1)} {
    color: nth($color, 2);
  }
  .is-#{nth($color,1)}-bg-always {
    background-color: nth($color, 2) !important;
  }
  .is-#{nth($color,1)}-border-always {
    border-color: nth($color, 2) !important;
  }
  .is-#{nth($color,1)}-always {
    color: nth($color, 2) !important;
  }

  body.dark-mode {
    .is-#{nth($color,1)} {
      color: nth($color, 3);
    }
    .is-#{nth($color,1)}-bg {
      background-color: nth($color, 3);
    }
    .is-#{nth($color,1)}-border {
      border-color: nth($color, 3);
    }
  }
}