/**
 *  This file is based on code from https://github.com/slarsendisney/personal-site/tree/master/src/styles
  *  This file is based on code from https://dev.to/lynnewritescode/colour-coding-with-scss-each-loops-31k
 */

$brand-colors: ("white", white, #1c1c1c), ("black", #1c1c1c, white),
  ("light-grey", rgb(240, 240, 240), #121212),
  ("medium-grey", rgb(146, 146, 146), #121212), ("dark-blue", #274690, white),
  ("medium-blue", #3772ff, #3772ff), ("red", #f4442e, #f4442e),
  ("yellow", #daaa00, #eac435), ("green", #43aa8b, #43aa8b),
  ("cyan", #2ab7ca, #2ab7ca), ("pink", #d741a7, #d741a7),
  ("twitter-blue", #1da1f2, #1da1f2), ("lastfm-red", #d51007, #d51007);

@each $color in $brand-colors {
  .is-#{nth($color,1)}-bg {
    background-color: nth($color, 2);
  }
  .is-#{nth($color,1)}-border {
    border-color: nth($color, 2);
  }
  .is-#{nth($color,1)} {
    color: nth($color, 2);
  }
  .is-#{nth($color,1)}-bg-always {
    background-color: nth($color, 2) !important;
  }
  .is-#{nth($color,1)}-border-always {
    border-color: nth($color, 2) !important;
  }
  .is-#{nth($color,1)}-always {
    color: nth($color, 2) !important;
  }

  body.dark-mode {
    .is-#{nth($color,1)} {
      color: nth($color, 3);
    }
    .is-#{nth($color,1)}-bg {
      background-color: nth($color, 3);
    }
    .is-#{nth($color,1)}-border {
      border-color: nth($color, 3);
    }
  }
}
