@import url(https://fonts.googleapis.com/css?family=Questrial:300,400,500&display=swap);

.cv {
    @extend .is-white-bg-always;
    @extend .is-black-always;
    width: 210mm;
    height: 297mm;
    margin: auto;
    font-family: 'Questrial', sans-serif;

    @for $i from 1 through 6 {
        h#{7 - $i} {
          font-family: 'Questrial', sans-serif;
        }
    }

    p {
        font-family: 'Questrial', sans-serif;
        font-size: 0.8rem;
    }
    li {
        font-family: 'Questrial', sans-serif;
        font-size: 0.8rem;
    }

    svg {
        @extend .is-dark-blue;
    }
    a {
        font-family: 'Questrial', sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
    }
}