.bar {
  height: 40px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.bar section {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
}
.bar section:last-of-type {
  flex: auto;
}

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
}

.bar-vertical {
  width: 50px;
  height: 20vh;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.bar-vertical section {
  position: absolute;
  width: 100%;
  bottom: 0px;
}
