@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap");
@import "./layout";
@import "./colours";
@import "./margin_padding";
@import "./utilities";
@import "./hero";
@import "./buttons";
@import "./blog";
@import "./me";
@import "./timeline";
@import "./me-table";
@import "./projects";
@import "./cv";
@import "./data";
@import "./dark_mode_toggle";
@import "./live";
@import "./logo";

html {
  max-width: 100vw;
  @extend .poppins;
}

main {
  min-height: calc(100vh - 124px);
}

body {
  margin: 0;
  max-width: 100vw;
  @extend .is-light-grey-bg;
}

body.dark-mode {
  background-color: #121212;
}

p {
  font-weight: normal;
}

a {
  @extend .is-medium-blue;
}

tr {
  font-weight: normal;
  font-size: 0.8em;
}

li {
  font-weight: normal;
}

button {
  @extend .poppins;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
}

.credit {
  font-size: 0.8em;
  @extend .pad-0;
  @extend .margin-0;
}
