/**
 *  This file is based on code from https://github.com/slarsendisney/personal-site/tree/master/src/styles
 */

.is-subtitle {
    font-size: 1.25em;
    line-height: 1em;
    @extend .margin-0; 
}

.is-title {
    font-size: 3em;
}

.diagonal-box {
    transform: skewY(-6deg);
  
}

.content {
    margin: 0 auto;
    transform: skewY(6deg);
}