/**
 *  This file is based on code from https://github.com/slarsendisney/personal-site/tree/master/src/styles
 */

.subtitle {
  font-size: 1.25em;
  line-height: 1em;
  @extend .margin-0;
}

.title {
  font-size: 3em;
}

.hero-title {
  display: table-cell;
  vertical-align: middle;
  @extend .title;
  @extend .margin-0-t;
}

.title-borders {
  border-bottom: 7px solid;
  border-top: 7px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  width: fit-content;
}

@media screen and (max-width: 481px) {
  .title {
    font-size: 2em;
  }
}

.diagonal-box {
  transform: skewY(-6deg);
}

.content {
  margin: 0 auto;
  transform: skewY(6deg);
}
