/**
 *  This file is based on code from https://github.com/slarsendisney/personal-site/tree/master/src/styles
 */

.subtitle {
  font-size: 1.25em;
  line-height: 1em;
  @extend .margin-0;
}

.title {
  font-size: 3em;
}

.hero-title {
  display: table-cell;
  vertical-align: middle;
  @extend .title;
  @extend .margin-0-t;
}

.title-borders {
  border-bottom: 7px solid;
  border-top: 7px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  width: fit-content;
}

@media screen and (max-width: 481px) {
  .title {
    font-size: 2em;
  }
}

.diagonal-box {
  transform: skewY(-6deg);
}

.content {
  margin: 0 auto;
  transform: skewY(6deg);
}

.nav {
  position: relative;
  z-index: 1000;
}

.hero {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 100%
  );

  .h-title {
    font-size: 3em;
  }

  .h-subtitle {
    font-size: 1.5em;
  }
}

.wave-container {
  position: relative;
}
.wave-container > svg {
  display: block;
}
